<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
	<head>
		<title>
			Decembeard
		</title>
		<link rel="stylesheet" media="screen" href="/css/main.css" />
		
	</head>
	<body>
		<div id="wrapper">
			<div id="header">
				<div id="logo"><span><a href="/">Decembeard</a></span></div>
				<div id="header-links">
					<% if (authenticated) { %>
						<a href="/logout">Logout</a>
					<% } else { %>
						<a href="/auth/twitter">Login</a>
					<% } %>
					
				</div>
			</div>
			<div id="content">
			<%- body %>
			</div>
		</div>
		<div id="footer">
			
		</div>
	</body>
</html>
