<html>                                              
          <head>                                             
            <title>Decembeard</title> 
            <script src="http://static.ak.fbcdn.net/connect/en_US/core.js"></script> 
          </head>                                            
          <body>                                             
            <div id="wrapper">                               
                <%- body %>                                   
            </div>                                           
          </body>                                            
        </html>



