<% if (authenticated) { %>
	

<h2>Create Today&apos;s Photo</h2>
<form action="/upload" enctype="multipart/form-data" method="post">
	
	Photo: <input type="file" name="upload" multiple="multiple"><br>
	<input type="submit" value="Upload">
</form>

<% } %>

<h2>Photos for <%= username %></h2>
<% for (var i=0; i<pictures.length;i++) { %>
	<img src="/image/<%= pictures[i].num %>" width="300" />
<% } %>