body {
	background-color: #557EB7;
}

#wrapper {
	margin: 0px auto;
	width: 750px;
}

#content {
	background-color: #FFFFFF;
	border: 1px solid #000000;
	clear:both;
	min-height: 400px;
	padding: 10px;
}


/* arrange header */
#header{
	clear:both;
}
#logo {
	float: left;
}
#header-links {
	float: right;
}
#logo span a{
	font-size:50pt;
	font-family: sans-serif;
	color:white;
	text-decoration: none;
}